.homepage-container {
  background-color: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.detail-container {
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

.detail-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
  }

  .detail-section {
    width: 90%;
  }
}
