.homepage-container {
  background-color: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.contact-container {
  height: 80vh;
  width: 25%;
  background-color: white;
  border-radius: 20px;
  position: sticky;
  top: 90px;
}

.detail-container {
  width: 100%;
  background-color: black;
  border-radius: 20px;
}

.detail-section{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}

